<html>
/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

html {
    height: 100%;
  }
  body {
      Background-color:rgb(39, 39, 38)
     width: 800px;
     height: 100%;
  }

  header {
      Height:100px;
      color:white;
      background-color:rgb(82, 92, 124);
      padding-left: 22px;
      padding-right: 50px;
      margin-bottom: 0px;
      border:4px solid black;
      text-align: center;
      font-size:50px;
      display: block;
  }
  nav {
    background-color:rgb(82, 77, 156);  
    float: left;
      width: 100%;
    
  }
  nav ul {
      padding: ;
      float: left;
      border-bottom: ;
      list-style-type: none;
  }
  nav li {
      float: left;
  }
  nav li a {
      color:white;
      background:grey;
      border:2px solid black;
      height: 35px;
      padding: 12px 40px 8px 40px;
      margin-right:50px;
      vertical-align: middle;
      width: 100%;
      
  }
  a {
      color: ;
  }
  h1{ text-align:center}
  h3{ text-align:left}
  section {
      width: 100%;
      display: inline-block;
      float: left;
      background-color:grey;
  }
  aside {
      width: 17%;
      display: inline-block;
      background-color:;
      padding:;
      min-height: 100%;
  }
  aside ul {
      list-style-type: none;
  }
  article {
      width: 400px;
      margin-left:200px;
      text-align:center;
      background-color: rgb(75, 90, 95) 
  }
  footer {
      width: 790px;
      background-color:;
      color:;
      clear: both;
      display: block;
  }